node_modules/
.env
.DS_Store
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.vscode/
*.apk

# Debug Logs
backend/src/scripts/debug_quiz.log
backend/debug_quiz.log
backend/error_log.txt
*.log

# System Files
Thumbs.db
ehthumbs.db
Desktop.ini

# IDEs
.idea/
.vscode/
